Package: opentrigger-otraw2q
Maintainer: hello@acolono.com
Architecture: __ARCH__
Version: __VERSION__
Provides: opentrigger-otraw2q
Enhances: bluez
Recommends: supervisor
Homepage: http://opentrigger.com/
Vcs-Browser: https://github.com/acolono/opentrigger-otraw2q
Description: bluez helper
